-const navClass = ["container","navbar"]
header(class=navClass)
 div(class="logo")
  -const logoSrc = page.header.logoSrc
  -const headerText = page.header.headerText
  img(src=logoSrc)
  if(headerText)
   span(class="headerText") #{headerText}
 div(class="menu") 
  ul
   -const headerLinks = page.header.headerLinks
   each link in headerLinks
    li 
     a(href=link.href) #{link.name} 