doctype html
html
 head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  -const cssUrl = sports.cssUrl
  link(rel="stylesheet" href=cssUrl)
  title #{sports.name}
 body
  h1 BASIC RULES OF #{sports.name}
  -const imgUrl = sports.img
  img(src=imgUrl alt="")
  ul
   -const rules = sports.rules
   each rule in rules
    li= rule